  <%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control form-control-sm" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, class: "form-control form-control-sm"  %>
  </div>

  <div class="form-group">
    <%= form.label :expired_at %>
    <%= form.datetime_field :expired_at, class: "form-control form-control-sm"  %>
  </div>

  <div class="form-group">
    <%= form.label :status %>
    <%= form.select :status, Task.statuses.keys, {}, {class: "custom-select custom-select-sm"} %>
  </div>

  <div class="form-group">
    <%= form.label :priority %>
    <% if task.id? %>
      <%= form.select :priority, Task.priorities.keys, {}, {class: "custom-select custom-select-sm"} %>
    <% else %>
      <%= form.select :priority, Task.priorities.keys, {selected: "中"}, {class: "custom-select custom-select-sm"} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :label %>
    <% Label.all.each do |label| %>
      <%= form.check_box :label_ids, { multiple: true, checked: @task.labels.find_by(id: label.id).present?, include_hidden: false }, label[:id] %>
      <%= form.label :label_ids, label.name, value: label[:id] %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>
