<% if controller.kind_of?(Admin::UsersController)  %>
  <% url = admin_user_path(user.id)%>
<% elsif controller.kind_of?(UsersController) %>
  <% url = user_path(current_user.id)%>
<% else %>
  <% url = tasks_path%>
<% end %>

<%= form_with(url: url, method: :get, scope: :task, local: true, class: "form-inline justify-content-center") do |form| %>
  <div>
    <%= t("activerecord.attributes.task.title")%>:
    <%= form.text_field :title, class: "form-control form-control-sm" %>
    <%= t("activerecord.attributes.task.status") %>:
    <%= form.select :status, Task.statuses.keys,{prompt: "---"}, {class: "custom-select custom-select-sm"} %>
    <%= t("activerecord.attributes.task.label") %>:
    <%= form.select :label_id, Label.all.collect { |l| [ l.name, l.id ] }, {include_blank: "---"}, {class: "custom-select custom-select-sm"} %>
    <%= form.submit "検索" %>
  </div>
<% end %>

<table class="table table-bordered table-hover table-sm mx-auto">
  <thead class="thead-dark">
    <tr>
      <th class="align-middle"><%= t("activerecord.attributes.task.user_id") %></th>
      <th class="align-middle"><%= t("activerecord.attributes.task.title") %></th>
      <th class="align-middle"><%= t("activerecord.attributes.task.content") %></th>
      <th class="align-middle"><%= t("activerecord.attributes.task.status") %></th>
      <th class="align-middle"><%= t("activerecord.attributes.task.priority") %></th>
      <th class="align-middle"><%= t("view.created_at") %></th>
      <th class="align-middle"><%= t("activerecord.attributes.task.expired_at") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
      <tr class="task_row">
        <td class="align-middle"><%= task.user.name %></td>
        <td class="align-middle"><%= task.title %></td>
        <td class="align-middle"><%= task.content %></td>
        <td class="align-middle"><%= task.status %></td>
        <td class="align-middle"><%= task.priority %></td>
        <td class="align-middle"><%= l task.created_at, format: :short %></td>
        <td class="align-middle"><%= l task.expired_at, format: :short %></td>
        <td class="align-middle"><%= link_to 'Show', task ,class: "btn btn-outline-primary"%></td>
        <td class="align-middle"><%= link_to 'Edit', edit_task_path(task),class: "btn btn-outline-primary" %></td>
        <td class="align-middle"><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-outline-primary"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="index-btn">
  <div class="btn-group"  role="group">
    <%= link_to 'New Task', new_task_path,class: "btn btn-outline-primary" %>
    <%= link_to "終了期限でソート", tasks_path(sort_expired: "true") ,class: "btn btn-outline-primary"%>
    <%= link_to "優先度高い順", tasks_path(sort_priority: "true"),class: "btn btn-outline-primary" %>
    <%= link_to "ソート解除", tasks_path ,class: "btn btn-outline-primary"%>
  </div>
</div>

<div>
  <%= paginate @tasks %>
</div>
