<h1 class="bodies">Tasks</h1>

<%= form_with(url: tasks_path, method: :get, scope: :task, local: true, class: "form-inline justify-content-center") do |form| %>
  <div>
    <%= t("activerecord.attributes.task.title")%>:
    <%= form.text_field :title, class: "form-control form-control-sm" %>
    <%= t("activerecord.attributes.task.status") %>:
    <%= form.select :status, Task.statuses.keys,{prompt: "---"}, {class: "custom-select custom-select-sm"} %>
    <%= form.submit "検索" %>
  </div>
<% end %>

<%= render "index", tasks: @tasks %>
