<div class="bodies">
  <p>
    <strong><%= t("activerecord.attributes.task.title") %>:</strong>
    <%= @task.title %>
  </p>

  <p>
    <strong><%= t("activerecord.attributes.task.content") %>:</strong>
    <%= @task.content %>
  </p>

  <p>
    <strong><%= t("activerecord.attributes.task.status") %>:</strong>
    <%= @task.status %>
  </p>

  <p>
    <strong><%= t("activerecord.attributes.task.priority") %>:</strong>
    <%= @task.priority %>
  </p>

  <p>
    <strong><%= t("activerecord.attributes.task.expired_at") %>:</strong>
    <%= l @task.expired_at, format: :short %>
  </p>

  <p>
    <strong><%= t("activerecord.attributes.task.label") %>:</strong>
    <% @task.labels.each do |label| %>
      <%= label.name %>
    <% end %>
  </p>

  <%= link_to 'Edit', edit_task_path(@task) ,class: "btn btn-outline-primary" %>
  <%= link_to 'Back', tasks_path ,class: "btn btn-outline-primary" %>

</div>
