<p id="notice"><%= notice %></p>

<p>
  <strong><%= t("activerecord.attributes.task.title") %>:</strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= t("activerecord.attributes.task.content") %>:</strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= t("activerecord.attributes.task.status") %>:</strong>
  <%= @task.status %>
</p>

<p>
  <strong><%= t("activerecord.attributes.task.expired_at") %>:</strong>
  <%= l @task.expired_at, format: :short%>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
