<div class="bodies">

  <h1><%= @user.name %>のページ</h1>

  <p>メールアドレス: <%= @user.email %></p>

  <h2>タスク一覧</h2>

  <%= form_with(url: user_path(current_user.id), method: :get, scope: :task, local: true, class: "form-inline justify-content-center") do |form| %>
    <div>
      <%= t("activerecord.attributes.task.title")%>:
      <%= form.text_field :title, class: "form-control form-control-sm" %>
      <%= t("activerecord.attributes.task.status") %>:
      <%= form.select :status, Task.statuses.keys,{prompt: "---"}, {class: "custom-select custom-select-sm"} %>
      <%= form.submit "検索" %>
    </div>
  <% end %>

  <%= render "tasks/index", tasks: @tasks %>

  <%= link_to "全タスク一覧", tasks_path, class: "btn btn-outline-primary" %>

</div>
