<div class="bodies">

  <h1><%= @user.name %>のページ</h1>

  <p>メールアドレス: <%= @user.email %></p>

  <h2>タスク一覧</h2>

  <%= render "tasks/index", tasks: @tasks ,user: @user%>

  <%= link_to 'プロフィール編集', edit_admin_user_path(@user), class: "btn btn-outline-primary" %>
  <%= link_to 'ユーザー一覧', admin_users_path ,class: "btn btn-outline-primary"%>

</div>
