<!DOCTYPE html>
<html>
  <head>
    <title>Mannyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Task管理</h1>
    </header>

    <%= yield %>

    <footer class="text-center">
      <small>Copyright &copy; Yamada Yuji 2022</small>
    </footer>
  </body>
</html>
