<!DOCTYPE html>
<html>
  <head>
    <title>Mannyou</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Task管理</h1>
    </header>

    <div class="bodies">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>

      <% if logged_in? %>
        <%= link_to "プロフィール", user_path(current_user.id) %>
        <%= link_to "ログアウト", session_path, method: :delete %>
      <% else %>
        <%= link_to "ユーザー登録", new_user_path %>
        <%= link_to "ログイン", new_session_path %>
      <% end %>
    </div>

    <%= yield %>

    <footer class="text-center">
      <small>Copyright &copy; Yamada Yuji 2022</small>
    </footer>
  </body>
</html>
